@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color:lightpink"; class="display-4">Welcome</h1>
    <p style="color:lightpink">A place where Mutifamdoms can join as one </p>
</div>
